body {
    background-image: url(img/bg.jpg);
    background-repeat: repeat;
    background-position-x: 20%;
    background-position-y: 50%;
}

#Nav{
  height: 54px;
}

#Nav, .navbar{
    font-size:15px;
    font-weight: 500;
}

.navbar-brand{
    font-size: 17px;
}

.nav-link{
    color: black;
}

#Home{
   padding-top: 120px;
}

.box-home-content{
    margin-top: 20px;
}

.home-content h1{
    font-size: 70px;
    line-height: 60px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.home-content h3{
    font-size: 40px;
    margin-bottom: 20px;
}

.home-content h5{
    font-size: 24px;
    margin-bottom: 35px;
}

.home-content button{
    font-size: 14px;
}

.home-img, .about-img{
    width: 445px;
}

#About{
    padding-top: 190px;
}

.about-content h2{
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.link-es a{
    color: #777;
    font-size: 13.5px;
}

.link-es{
    padding-top: 6px;
}

#About button{
    font-size: 14px;
}

#Skills{
    padding-top: 180px;
}

.skills-content h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.skills-content p{
    margin-bottom: 30px;
}

.feature_item{
    padding: 45px 25px;
    text-align: center;
    background: #f9f9fd;
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.feature_item h4{
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 0px;
}

#Porfolio{
    padding-top: 140px;
}

.porfolio-content h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.porfolio-content p{
    margin-bottom: 60px;
}

.porfolio-content a{
    text-decoration: none;
}

.short_info h4{
    margin-top: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.short_info strong {
    color: #777777;
}
    
#Contact{
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-content h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact-content p, .contact-content a{
    font-size: 20px;
    font-weight: 700;
    
}

.contact-content a{
    color: #30d3b8;
}

.subscription_box{
    background-image: url(img/bg8.png); 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding: 140px 0px 120px 0px ;
}

#Redes{
    padding-top: 60px;
    padding-bottom: 60px;
}

.redes-content h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.redes-content i{
    padding: 10px 10px 10px 10px;
    font-size: 30px;
}

.redes-content p{
    padding-top: 20px;
}

@media (max-width: 1300px){
    .contact-content p, .contact-content a{
        font-size: 10px;
        font-weight: 700;
    }
}

@media(max-width: 766px){
    .about-content{
        text-align: center;
    }

    .about-content h2:first-child{
        margin-top: 40px;
    }
}

@media (max-width: 416px){

    #About{
        padding-top: 80px;
    }

    #Skills{
        
    }

    .home-content h1{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 25px;
        margin-top: 20px;
    }

    .contact-content p, .contact-content a{
        font-size: 10px;
        font-weight: 700;
    }
}
